@use 'sass:color';
@use 'config' as *;
@use 'menu';

*{
    box-sizing: border-box;
}
body{
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height:100%;
    margin:0;
    font-family:'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1, h2, h3{
    margin:0;
    font-weight:400;

    &.lg-heading{
        font-size: 5rem;

    }

    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        // background: rgba(lighten($primary-color,2),0.5);
        background: rgba(color.adjust($primary-color, $lightness: 2%), 0.5);
    }
}

a{
    color: set-text-color($primary-color);
    text-decoration: none;
    
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;;
}

.text-secondary{
    color: $secondary-color;
}

main{
    padding: 4rem;
    // height: 100%;
    min-height: calc(100vh - 60px);
    .icons{
        margin-top: 1rem;
        a{
            padding: 0.4rem;
            &:hover{
                color: $secondary-color;
                @include easeOut();
            }
        }
        margin-bottom: 25px;
    }
    .downloadCV{
        .btn{
            &.btn2{
                
                display: inline-block;
                background: rgba(color.adjust($primary-color, $lightness: 2%),0.5);
                &:hover{
                    background: $secondary-color;
                    z-index: 2;
                    color: set-text-color($secondary-color);
                    @include easeOut();
                }

            }
            
        }
    }
    &#home{
        overflow: hidden;
        h1{
            margin-top: 20vh;
        }
        
    }
}

main {
  .icons {
    a {
      .leetcodeIcon {
        filter: invert(1) brightness(2);
        width: 30px;
        height: 30px;

        &:hover {
          filter: invert(79%) sepia(95%) saturate(536%) hue-rotate(0deg) brightness(103%);
          transition: all 0.5s ease-out;
        }
      }
    }
  }
}


.about-info{
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio'
    'heading heading'
    'job1 job1';
    grid-template-columns: repeat(2, 1fr);

    .bio-image{
        
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }
    
    .bio{
        grid-area: bio;
        font-size:1rem;
    }
    .heading{
        grid-area: heading;
        color: $secondary-color;
    }
    .job-1{
        grid-area: job1;
    }
    
    .job{
        background: color.adjust($primary-color, $lightness: 5%);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }
}

.about-info {
  .tab-titles {
    display: flex;
    margin: 20px 0 40px;

    .tab-links {
      margin-right: 100px;
      font-size: 15px;
      font-weight: 500;
      cursor: pointer;
      position: relative;

      &::after {
        content: '';
        width: 0;
        height: 3px;
        background: #eece1a;
        position: absolute;
        left: 0;
        bottom: -8px;
        transition: 0.5s;
      }

      &.active-link::after {
        width: 100%;
      }
    }
  }

  .tab-contents {
    display: none;

    &.active-tab {
      display: block;
    }

    ul {
      li {
        list-style: none;
        margin: 10px 0;

        span {
          color: #d4b717;
          font-size: 14px;
        }
      }
    }
  }
}


.projects{
    display: grid;
    grid-gap: 0.9rem;
    grid-template-columns: repeat(3, 1fr);
    img{
        width: 100%;
        border: 3px #fff solid;

        &:hover{
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div{
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;
        &:hover{
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);
            span{
                color: set-text-color($secondary-color);
            }
        }
    }
}

.btn{
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark{
    @extend .btn;
    background: color.adjust($primary-color, $lightness: -50%);
    color: #fff;
}

.btn-light{
    @extend .btn;
    background: color.adjust($primary-color, $lightness: 50%);
    color: #333;
}

.contact-down {
  form {
    width: 100%;

    input,
    textarea {
      width: 100%;
      border: 0;
      outline: none;
      background: rgb(55.25, 55.25, 55.25);
      padding: 15px;
      margin: 15px;
      color: #fff;
      font-size: 18px;
      border-radius: 6px;
    }
  }

  .btn.btn2 {
    color: #fff;
    font-size: 20px;
    display: inline-block;
    background: rgba(73.1, 73.1, 73.1, 0.5);
    margin-left: 20px;

    &:hover {
      background: #eece1a;
      z-index: 2;
      color: #000;
      transition: all 0.5s ease-out;
    }
  }
}


#msg {
  margin-top: -5px;
  margin-left: 30px;
  display: block;
}


#main-footer{
    text-align: center;
    padding: 1rem;
    background: color.adjust($primary-color, $lightness: -10%);
    color: set-text-color($primary-color);
    height: 60px;
}

@import 'moble';
